h1 The Challenge

---

h2 Research

ul
  li.fragment Research the current offerings
  li.fragment
    a(src="http://addyosmani.github.com/todomvc/") TodoMVC 
    | is a great place to start.

---

h2 Think

ul
  li.fragment Consider your specific application requirements
  li.fragment Don't get sucked into the hype

---

h2 Innovate

ul
  li.fragment Don't be afraid to try something new and different
  li.fragment Recreating familiar environments and patterns is flawed

