:data-bg:> images/5077082983_dbc6a04a43_b.jpg
:data-attribution:> http://www.flickr.com/photos/42429527@N03/5077082983/

h1 Better Than MVC

---

h2 Overview

ul
  li.fragment A quick overview of MVC
  li.fragment What is good and bad about MVC
  li.fragment Alternative approaches
  
---

h2 The State of MV*

ul
  li.fragment So many JS MV* frameworks available
  li.fragment Each has a slightly different approach
  li.fragment "Why is it so?"

---

h2 MVC is:

ul
  li.fragment A design pattern that describes how a 
    strong Model, View 
    | and 
    strong Controller 
    | should interact to create a structured application.
    
  li.fragment Original implementation -> Smalltalk-80 MVC (conceived in 1978).

---

h2 MVC isn't:

ul
  li.fragment A hash / history API routing engine
  li.fragment A synchronization engine for your clientside data and your server-side (real) data
  li.fragment A Data Binding approach
  li.fragment A pattern for helping you compose your large application from smaller modules