h2 Summary

ul
    li.fragment Building Web Applications with a Rich Client is challenging
    li.fragment In general, client side devs struggle with sensible and reusable application composition
    li.fragment While client-side MVC frameworks are a pragmatic approach to building apps, they don't deal with the underlying problems or are very future focused.

---md

## Thanks

- Feel free to heckle on twitter ([@DamonOehlman](http://twitter.com/DamonOehlman))
- Code:  <https://github.com/DamonOehlman>
  - [PartyBus](https://github.com/DamonOehlman/partybus) - `Object.observe => eve`